<div class="container">
  <div class="object-mail">
      <% @emails.each do |g|  %>
        <%= link_to g.object, email_path(g.id), remote: true, class: "mail-li#{g.id}" %>
        <br>
      <% end %>
  </div>

  <div class="body-email">
  </div>


</div>
